@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
body {
  background: linear-gradient(0.3turn, #6864e7, #ac68e9);
  font-family: "Kumbh Sans", sans-serif;
}
.app-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ac68e9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #f1f1f1;
  transition: .3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1f1f19a;
}
